:host {
  .form-field__header {
    height: 1.25rem;
  }

  .form-label {
    line-height: 1.25rem;
  }

  .password-help,
  .password-help__trigger {
    height: 100%;
  }

  .password-help__trigger {
    display: flex;
    align-items: center;
  }

  .password-help__trigger app-button {
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
  }

  .password-field__toggle {
    display: flex;
    width: 1.25rem;
    height: 1.25rem;
    align-items: center;
    justify-content: center;
  }
}
