@use 'sass:map';
@use '@angular/material' as mat;

$_palettes: (
  primary: (
    0: #000000,
    10: #00174b,
    20: #002a78,
    25: #00348f,
    30: #003ea8,
    35: #0048c1,
    40: #0053db,
    50: #346ef6,
    60: #618bff,
    70: #8ca8ff,
    80: #b4c5ff,
    90: #dbe1ff,
    95: #eef0ff,
    98: #faf8ff,
    99: #fefbff,
    100: #ffffff,
  ),
  secondary: (
    0: #000000,
    10: #00174b,
    20: #182d63,
    25: #25396f,
    30: #31447b,
    35: #3d5088,
    40: #495c95,
    50: #6275af,
    60: #7c8fcb,
    70: #96a9e7,
    80: #b4c5ff,
    90: #dbe1ff,
    95: #eef0ff,
    98: #faf8ff,
    99: #fefbff,
    100: #ffffff,
  ),
  tertiary: (
    0: #000000,
    10: #340043,
    20: #55006c,
    25: #660081,
    30: #770994,
    35: #841fa1,
    40: #922fae,
    50: #ae4cca,
    60: #cb67e6,
    70: #e685ff,
    80: #f2afff,
    90: #fcd7ff,
    95: #ffebfe,
    98: #fff7fb,
    99: #fffbff,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    10: #191b23,
    20: #2e3039,
    25: #393b44,
    30: #444650,
    35: #50525b,
    40: #5c5e68,
    50: #757681,
    60: #8f909b,
    70: #aaaab5,
    80: #c5c6d1,
    90: #e1e2ed,
    95: #f0f0fb,
    98: #faf8ff,
    99: #fefbff,
    100: #ffffff,
    4: #0c0e16,
    6: #11131b,
    12: #1d1f27,
    17: #282a32,
    22: #32343d,
    24: #373942,
    87: #d9d9e5,
    92: #e7e7f3,
    94: #ededf9,
    96: #f3f3fe,
  ),
  neutral-variant: (
    0: #000000,
    10: #171b28,
    20: #2c303d,
    25: #373b49,
    30: #434655,
    35: #4e5261,
    40: #5a5e6d,
    50: #737686,
    60: #8d90a0,
    70: #a7aabb,
    80: #c3c6d7,
    90: #dfe1f4,
    95: #eef0ff,
    98: #faf8ff,
    99: #fefbff,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #410002,
    20: #690005,
    25: #7d0008,
    30: #93000b,
    35: #a9000f,
    40: #bf0715,
    50: #e42c2a,
    60: #ff544a,
    70: #ff897e,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);

$_rest: (
  secondary: map.get($_palettes, secondary),
  neutral: map.get($_palettes, neutral),
  neutral-variant: map.get($_palettes, neutral-variant),
  error: map.get($_palettes, error),
);

$primary-palette: map.merge(map.get($_palettes, primary), $_rest);
$tertiary-palette: map.merge(map.get($_palettes, tertiary), $_rest);
