@use 'sass:map';
@use '@angular/material' as mat;

$_palettes: (
  primary: (
    0: #000000,
    10: #002108,
    20: #003914,
    25: #00461a,
    30: #005320,
    35: #006026,
    40: #006e2d,
    50: #008a3a,
    60: #00a748,
    70: #2fc45d,
    80: #53e076,
    90: #72fe8f,
    95: #c6ffc7,
    98: #ebffe7,
    99: #f6fff1,
    100: #ffffff,
  ),
  secondary: (
    0: #000000,
    10: #002108,
    20: #003914,
    25: #09451c,
    30: #195127,
    35: #265d31,
    40: #336a3c,
    50: #4c8353,
    60: #659e6b,
    70: #7fb984,
    80: #99d59d,
    90: #b5f1b8,
    95: #c6ffc7,
    98: #ebffe7,
    99: #f6fff1,
    100: #ffffff,
  ),
  tertiary: (
    0: #000000,
    10: #001c3a,
    20: #00315e,
    25: #003c71,
    30: #004785,
    35: #005399,
    40: #005fae,
    50: #2278d1,
    60: #4792ed,
    70: #71adff,
    80: #a5c8ff,
    90: #d4e3ff,
    95: #ebf1ff,
    98: #f9f9ff,
    99: #fdfcff,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    10: #161d16,
    20: #2b322a,
    25: #363d35,
    30: #414940,
    35: #4d554b,
    40: #586157,
    50: #71796f,
    60: #8b9388,
    70: #a5aea2,
    80: #c1c9bd,
    90: #dde5d9,
    95: #ebf3e7,
    98: #f4fcef,
    99: #f6fff2,
    100: #ffffff,
    4: #091009,
    6: #0e150e,
    12: #1a211a,
    17: #242c24,
    22: #2f372e,
    24: #333b33,
    87: #d4dcd0,
    92: #e2ebde,
    94: #e8f0e4,
    96: #eef6e9,
  ),
  neutral-variant: (
    0: #000000,
    10: #121e13,
    20: #273327,
    25: #323f32,
    30: #3d4a3d,
    35: #495648,
    40: #546254,
    50: #6d7b6c,
    60: #869585,
    70: #a1af9e,
    80: #bccbb9,
    90: #d8e7d4,
    95: #e6f5e2,
    98: #effeeb,
    99: #f6fff1,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #410002,
    20: #690005,
    25: #7d0008,
    30: #93000b,
    35: #a9000f,
    40: #bf0715,
    50: #e42c2a,
    60: #ff544a,
    70: #ff897e,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);

$_rest: (
  secondary: map.get($_palettes, secondary),
  neutral: map.get($_palettes, neutral),
  neutral-variant: map.get($_palettes, neutral-variant),
  error: map.get($_palettes, error),
);

$primary-palette: map.merge(map.get($_palettes, primary), $_rest);
$tertiary-palette: map.merge(map.get($_palettes, tertiary), $_rest);
