<aside>
  <header>
    <div>
      <h3>Citeria</h3>
      <p>EXPERTISE MARKET</p>
    </div>
    <button (click)="toggleSidebar()" type="button">
      @if (isToggledSidebar()) {
        <mat-icon>chevron_left</mat-icon>
      } @else {
        <mat-icon>chevron_right</mat-icon>
      }
    </button>
  </header>
  <nav>
    @for (item of sidebarData; track item.label) {
      <a [routerLink]="item.path" [class.disabled]="item.disabled">
        <mat-icon aria-hidden="true">{{ item.icon }}</mat-icon>
        <span>{{ item.label }}</span>
      </a>
    }
  </nav>
  <footer>
    <span>{{ displayName() }}</span>
    <div>
      @if (themeSE.theme() === 'dark') {
        <button matIconButton type="button" aria-label="Dark theme" (click)="toggleTheme()">
          <mat-icon>dark_mode</mat-icon>
        </button>
      } @else {
        <button matIconButton type="button" aria-label="Light theme" (click)="toggleTheme()">
          <mat-icon>light_mode</mat-icon>
        </button>
      }
      <button class="logoutBtn" matIconButton type="button" aria-label="Logout" (click)="openConfirmDialogToLogout()">
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  </footer>
</aside>
