<div class="auth-page">
  <div class="auth-card auth-card--forgot">
    <div class="auth-message">
      <h1 class="auth-message__title">Forgot password?</h1>
      <p class="auth-message__text">
        Password reset is not implemented yet. This route is ready for the reset flow.
        To change password send message to support@citeria.com
      </p>
    </div>

    <div class="auth-message__actions">
      <a
        [routerLink]="routes.login"
        class="auth-link"
      >
        Back to login
      </a>
    </div>
  </div>
</div>
