<div
  class="toast-viewport"
  aria-live="polite"
  aria-atomic="true"
>
  @for (toast of toastSE.toasts(); track toast.id) {

  <div
    [class]="'toast toast--' + toast.type"
    animate.enter="toast-enter"
    animate.leave="toast-leave"
  >

    <div class="toast__icon">
      <lucide-icon [img]="iconFor(toast.type)" class="toast__icon-svg"></lucide-icon>
    </div>

    <div>
      @if (toast.title) {
        <div class="toast__title">
          {{ toast.title }}
        </div>
      }

      <div class="toast__message">
        {{ toast.message }}
      </div>
    </div>

    <app-button
      class="toast__dismiss"
      [icon]="icons.close"
      ariaLabel="Dismiss notification"
      variant="quaternary"
      size="sm"
      (click)="toastSE.remove(toast.id)"
    />

  </div>

  }
</div>
