<div
  class="toast-viewport"
  aria-live="polite"
  aria-atomic="true"
>
  @for (toast of toastService.toasts(); track toast.id) {

  <div
    [class]="'toast toast--' + toast.type"
    animate.enter="toast-enter"
    animate.leave="toast-leave"
  >

    <div class="toast__icon">
      <lucide-icon [img]="iconFor(toast.type)" class="toast__icon-svg"></lucide-icon>
    </div>

    <div>
      @if (toast.title) {
        <div class="toast__title">
          {{ toast.title }}
        </div>
      }

      <div class="toast__message">
        {{ toast.message }}
      </div>
    </div>

    <button
      class="toast__dismiss"
      type="button"
      aria-label="Dismiss notification"
      (click)="toastService.remove(toast.id)"
    >
      <lucide-icon [img]="XIcon" class="toast__dismiss-icon"></lucide-icon>
    </button>

  </div>

  }
</div>
