<div class="auth-page">
  <div class="auth-card auth-card--login">
    <div class="auth-card__header">
      <div class="brand-block">
        <div class="brand-block__icon">
          <lucide-icon class="brand-block__icon-svg" [img]="ZapIcon"></lucide-icon>
        </div>
        <h1 class="brand-block__title">Citeria</h1>
        <p class="brand-block__subtitle">Please enter your details to sign in</p>
      </div>
    </div>

    <form
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
      class="auth-form"
    >
      <div class="form-field">
        <label class="form-label">Email</label>
        <input
          type="email"
          class="form-input"
          placeholder="name@example.com"
          formControlName="email"
          />
      </div>

      <div class="form-field">
        <label class="form-label">Password</label>
        <div class="password-field">
          <input
            [type]="isPasswordVisible() ? 'password' : 'text'"
            class="form-input form-input--with-action"
            placeholder="••••••••"
            formControlName="password"
          />

          <button
            class="password-field__toggle"
            type="button"
            aria-label="Toggle password visibility"
            (click)="isPasswordVisible.set(!isPasswordVisible())">
            <lucide-icon [img]="isPasswordVisible() ? EyeIcon : EyeOff" class="password-field__icon"></lucide-icon>
          </button>
        </div>
        <div class="auth-actions auth-actions--end">
          <a
            routerLink="/forgot-password"
            class="auth-link auth-link--small"
          >
            Forgot password?
          </a>
        </div>
      </div>

      <app-button
        text="Login"
        type="submit"
        size="lg"
        fullWidth
        [loading]="isLoading()">
      </app-button>

      <p class="auth-switch">
        Don't have an account?
        <a routerLink="/register" class="auth-link">
          Sign up
        </a>
      </p>

      <div class="auth-divider">
        <div class="auth-divider__line"></div>
        <span class="auth-divider__text">
          OR CONTINUE WITH
        </span>
        <div class="auth-divider__line"></div>
      </div>

      <button type="button" class="social-button">
        <img src="assets/img/logo/google-logo.svg" class="social-button__icon" alt="Google">
        <span class="social-button__text">Google</span>
      </button>
    </form>
  </div>
</div>
